<div class="page">

  <div class="page-header">

    <div>
      <h1>
        {{ 'fleet.vehicles.title' | translate }}
      </h1>

      <p>
        {{ 'fleet.vehicles.subtitle' | translate }}
      </p>
    </div>

    <a mat-flat-button color="primary" routerLink="/fleet/vehicles/new">
      {{ 'fleet.vehicles.new' | translate }}
    </a>

  </div>

  <table mat-table [dataSource]="store.vehicles()">

    <ng-container matColumnDef="plate">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'fleet.vehicles.plate' | translate }}
      </th>

      <td mat-cell *matCellDef="let vehicle">
        {{ vehicle.plate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'fleet.vehicles.brand' | translate }}
      </th>

      <td mat-cell *matCellDef="let vehicle">
        {{ vehicle.brand }}
      </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'fleet.vehicles.model' | translate }}
      </th>

      <td mat-cell *matCellDef="let vehicle">
        {{ vehicle.model }}
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'fleet.vehicles.year' | translate }}
      </th>

      <td mat-cell *matCellDef="let vehicle">
        {{ vehicle.year }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'fleet.vehicles.type' | translate }}
      </th>

      <td mat-cell *matCellDef="let vehicle">
        {{
          ('fleet.vehicleTypes.' + vehicle.type)
            | translate
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'fleet.vehicles.status' | translate }}
      </th>

      <td mat-cell *matCellDef="let vehicle">
        {{
          ('fleet.status.' + vehicle.currentStatus)
            | translate
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'fleet.actions.title' | translate }}
      </th>

      <td mat-cell *matCellDef="let vehicle">

        <a mat-button [routerLink]="['/fleet/vehicles',vehicle.id]">
          {{ 'fleet.actions.view' | translate }}
        </a>

        <a mat-button [routerLink]="['/fleet/vehicles',vehicle.id,'edit']">
          {{ 'fleet.actions.edit' | translate }}
        </a>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row;columns: displayedColumns"></tr>

  </table>
</div>
